<div>
    <h4 class="modal-title text-center">Booking Details</h4>
    <hr />
</div>
<div class="modal-body">
    <h4 class="text-center"><span style="color: #ff4081;">{{movie.movieName}}</span></h4>
    <h5 class="text-center">{{movie.cinemaName}} - {{movie.city}} - Screen No {{movie.screen}}</h5>
    <h6 class="text-center">{{movie.movieDescription}}</h6>
    <hr>
    <form name="bookingForm">
        <h4 class="text-center" *ngIf="booking.bookingDate">Seat Available {{availableSeat}}</h4>
        <hr *ngIf="booking.bookingDate" />
        <div class="row custom-row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <label>Select Booking Date: </label>
            </div>
            <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="bookingDate"
                        [(ngModel)]="booking.bookingDate" ngbDatepicker #bookingDate="ngbDatepicker"
                        (ngModelChange)="bookingDateChanged()">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="bookingDate.toggle()" type="button"><i
                                class="far fa-calendar-alt"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <label>Enter Number Of Seats: </label>
            </div>
            <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                <input type="number" class="form-control" name="totalSeatsBooked" [(ngModel)]="booking.totalSeatsBooked"
                    (change)="onSeatSelected()" />
            </div>
        </div>
        <div class="row custom-row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <label>Name: </label>
            </div>
            <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                <input type="text" class="form-control" name="customerName" [(ngModel)]="booking.customerName" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <label>Email Id: </label>
            </div>
            <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                <input type="email" class="form-control" name="customerEmail" [(ngModel)]="booking.customerEmail" />
            </div>
        </div>
        <hr *ngIf="booking.amount" />
        <div class="row custom-row" *ngIf="booking.amount">
            <div class="col-12">
                <h3 class="text-center">Total Amount: {{booking.amount}}</h3>
            </div>
        </div>
        <hr *ngIf="booking.amount" />
        <div class="row custom-row" [ngClass]="booking.amount > 0 ? 'show' : 'hide' ">
            <div class="col-6">
                <stripe-card #stripeCard (catch)="onStripeError($event)" [(invalid)]="invalidError"
                    (tokenChange)="setStripeToken($event)"></stripe-card>
            </div>
        </div>
        <div class="row custom-row">
            <div class="col-lg-6">
                <button style="margin: 0px 10px;" type="button" class="btn btn-success"
                    (click)="bookMovie(stripeCard)">Make Payment</button>
                <button style="margin: 0px 15px;" type="button" class="btn btn-info"
                    (click)="activeModal.close('Close click')">Close</button>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">

</div>
<div *ngIf="loading">
    <app-backdrop [isOpen]="loading"></app-backdrop>
</div>
<app-toaster [config]="toasterConfig" (closeToasrer)="closeToasrer($event)"></app-toaster>